.Rectangle {
    position: relative;
width: 100%;

height: 100px;
display: flex;
align-items: center;

top: 0px;

background: #131313;
box-shadow: 0px 5.35234px 13.3809px rgba(0, 0, 0, 0.1);

}


.memelogo{
    width: auto;
    padding: 2px;
    padding-left: 20px;
    height: 85%;
    margin-right: 5px;
    
}
.logoname{
    color: #fff;
    font-size: 40px;
    font-weight: 500;
    margin-right: auto;
    display: flex;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

@media only screen and (max-width: 600px) {
  .memelogo{
    width: auto;
    padding: 2px;
    padding-left: 20px;
    height: 70%;
    margin-right: 5px;
    
}
  .logoname{
    color: #fff;
    font-size: 30px;
    font-weight: 500;
    margin-right: auto;
    display: flex;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.memelogo{
  width: 100px;
  padding-top: 2px;
  padding-left: 10px;
  height: 100%;
  margin-right: 5px;
  
  }
}

@media only screen and (max-width: 600px) {
  .logoname{
    color: #fff;
    font-size: 25px;
    font-weight: 500;
    margin-right: auto;
    display: flex;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.memelogo{
  width: auto;
  padding-top: 2px;
  padding-left: 10px;
  height: 80%;
  margin-right: 5px;
  
  }
}

.card{
    margin-left: 200px;
    width: 1000px;
    height: 1000px;
    display: flex;
}
.form{
    display: grid;
    gap: 40px;
    padding: 40px;
    grid-template: 50px/ 1fr;
}
.main{
    background-color: rgb(42, 46, 59);
    padding: 36px;
}
main.light{
  background-color: rgb(249, 191, 218);
}
main.dark{
  background-color: #333333;
}
.form-control{
   border: 1px solid black;
    height: 50px;
}
.submitbutton{
    
    height: 50px;
    background-color: rgb(79, 11, 156);
    color: #fff;
    font-size: 20px;
    text-align: center;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    width: auto;
    border-radius: 10px;
    grid-column: 1 / -1;
}
.meme{
    position: relative;
}
.meme-img{

width: 50%;
height: 450px;
border-radius: 20px;

}

@media only screen and (max-width: 600px) {
  .meme-img{

    width: 90%;
    height: 350px;
    border-radius: 10px;
    
    }


}

.memetext{
    
    position: absolute;
    width: 80%;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    margin: 15px 0;
    padding: 0 5px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2em;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    text-shadow: 
    2px 2px 0 #000,
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    0 2px 0#000,
    2px 0 0 #000,
    0 -2px 0 #000,
    -2px 0 0 #000,
    2px 2px 5px #000;
    
}

.top{
    top: 0
}

.bottom{
    bottom: 0;
}

.switch {
    position: absolute;
    
    width: 60px;
    height: 34px;
    right: 20px;
  }
  @media only screen and (max-width: 600px) {
   
    .switch {
      position: absolute;
      
      width: 40px;
      height: 24px;
      right: 20px;
    }
    
   
    
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  @media only screen and (max-width: 600px) {
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(16px);
  }
}
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .foot{
    background-color: rgb(161, 161, 161);
    height: 60px;
    width: 100%;
  }

  .cover{
    background-color: rgb(172, 156, 163);
    height: auto;
    width: auto;
  }

  .downloadbtn{
    background-color: rgb(2, 159, 2);
    color: #fff;
    border-radius: 50px;
    width: 17%;
    height: 50px;
    padding: 10px;
    font-size: medium;
    

  }

  .connect{
    background-color: #000000;
    color: #fff;
    padding: 5px;
    font-weight: 800;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
  }

  @media only screen and (max-width: 600px) {
    .downloadbtn{
      background-color: rgb(2, 159, 2);
      color: #fff;
      border-radius: 30px;
      width: 38%;
      height: 50px;
      padding: 6px;
      font-size: small;
      font-weight: 450;
      
      
  
    }

  }